<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineBusBooking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NewUserServlet</display-name>
    <servlet-name>NewUserServlet</servlet-name>
    <servlet-class>com.aspire.NewUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewUserServlet</servlet-name>
    <url-pattern>/NewUserServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServlet1</display-name>
    <servlet-name>UserLoginServlet1</servlet-name>
    <servlet-class>com.aspire.UserLoginServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServlet1</servlet-name>
    <url-pattern>/UserLoginServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectLocationServlet</display-name>
    <servlet-name>SelectLocationServlet</servlet-name>
    <servlet-class>com.aspire.SelectLocationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectLocationServlet</servlet-name>
    <url-pattern>/SelectLocationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectedSeatServlet</display-name>
    <servlet-name>SelectedSeatServlet</servlet-name>
    <servlet-class>com.aspire.SelectedSeatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectedSeatServlet</servlet-name>
    <url-pattern>/SelectedSeatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserDetails</display-name>
    <servlet-name>UserDetails</servlet-name>
    <servlet-class>com.aspire.UserDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDetails</servlet-name>
    <url-pattern>/UserDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectLocationServlet1</display-name>
    <servlet-name>SelectLocationServlet1</servlet-name>
    <servlet-class>com.aspire.SelectLocationServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectLocationServlet1</servlet-name>
    <url-pattern>/SelectLocationServlet1</url-pattern>
  </servlet-mapping>
</web-app>